---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Magica Pasteleria'>
	<main class="absolute flex bg-slate-400 left-1/4 top-1/4">
		<span>Pasteleria Magica</span>
		<img src="../../public/assets/panCasero.jpg" class="w-60">
		<img src="../../public/assets/boxCapKey.jpg" class="w-20">
		<img src="../../public/assets/boxCombo.jpg" class="w-20">
	</main>
</Layout>
