---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Magica Pasteleria'>
	<main class="absolute bg-slate-400 left-2/4 top-2/4">
		<span>Pasteleria Magica</span>
		<img src="../../public/assets/boxCapKey.jpg" class="w-20">
	</main>
</Layout>
